# Stratified Sampling

In [90]:
import pandas as pd

In [91]:
df = pd.read_csv("startup_funding.csv")
df = df[(df['CityLocation'] == "Bangalore") |
        (df['CityLocation'] == "bangalore") | 
        (df['CityLocation'] == "New Delhi") |
        (df['CityLocation'] == "Delhi") |
        (df['CityLocation'] == "Mumbai") |
        (df['CityLocation'] == "Gurgaon")|
        (df['CityLocation'] == "Noida") |
        (df['CityLocation'] == "Pune") | 
        (df['CityLocation'] == "Hyderabad")]

In [92]:
df['CityLocation'].replace("bangalore", "Bangalore")
df['CityLocation'].replace("Delhi", "New Delhi")
df.head()

,SNo,Date,StartupName,IndustryVertical,SubVertical,CityLocation,InvestorsName,InvestmentType,AmountInUSD,Remarks
0,0,01/08/2017,TouchKin,Technology,Predictive Care Platform,Bangalore,Kae Capital,Private Equity,"1,300,000",NaN
1,1,02/08/2017,Ethinos,Technology,Digital Marketing Agency,Mumbai,Triton Investment Advisors,Private Equity,NaN,NaN
2,2,02/08/2017,Leverage Edu,Consumer Internet,Online platform for Higher Education Services,New Delhi,"Kashyap Deorah, Anand Sankeshwar, Deepak Jain,...",Seed Funding,NaN,NaN
3,3,02/08/2017,Zepo,Consumer Internet,DIY Ecommerce platform,Mumbai,"Kunal Shah, LetsVenture, Anupam Mittal, Hetal ...",Seed Funding,"500,000",NaN
4,4,02/08/2017,Click2Clinic,Consumer Internet,healthcare service aggregator,Hyderabad,"Narottam Thudi, Shireesh Palle",Seed Funding,"850,000",NaN

In [93]:
df_bangalore = df[(df['CityLocation'] == "Bangalore")]
df_ncr = df[(df['CityLocation'] == "New Delhi") | (df['CityLocation'] == "Gurgaon") | (df['CityLocation'] == "Noida")]
df_mumbai = df[(df['CityLocation'] == "Mumbai")]
df_pune = df[(df['CityLocation'] == "Pune")]
df_hyderabad = df[(df['CityLocation'] == "Hyderabad")]

In [94]:
population = df
amount = population['AmountInUSD'].str.replace(',', '')
amount = pd.to_numeric(amount)
population_max = amount.max()

In [95]:
s = []
bangalore_amount = df_bangalore['AmountInUSD'].str.replace(',', '').dropna()
bangalore_amount = pd.to_numeric(bangalore_amount)
s.append(bangalore_amount.max())

ncr_amount = df_ncr['AmountInUSD'].str.replace(',', '').dropna()
ncr_amount = pd.to_numeric(ncr_amount)
s.append(ncr_amount.max())

mumbai_amount = df_mumbai['AmountInUSD'].str.replace(',', '').dropna()
mumbai_amount = pd.to_numeric(mumbai_amount)
s.append(mumbai_amount.max())

pune_amount = df_pune['AmountInUSD'].str.replace(',', '').dropna()
pune_amount = pd.to_numeric(pune_amount)
s.append(pune_amount.max())

hyderabad_amount = df_hyderabad['AmountInUSD'].str.replace(',', '').dropna()
hyderabad_amount = pd.to_numeric(hyderabad_amount)
s.append(hyderabad_amount.max())

samples_max = max(s)

In [96]:
error = population_max - samples_max
error

0.0

# Proportional Stratified Sampling

In [97]:
import pandas as pd
df = pd.read_csv("startup_funding.csv")
df['CityLocation'].replace("bangalore", "Bangalore", inplace=True)
df['CityLocation'].replace("Delhi", "New Delhi", inplace = True)
df = df[(df['CityLocation'] == "Bangalore") | 
        (df['CityLocation'] == "New Delhi") |
        (df['CityLocation'] == "Gurgaon") |
        (df['CityLocation'] == "Noida") |
        (df['CityLocation'] == "Mumbai") | 
        (df['CityLocation'] == "Pune") | 
        (df["CityLocation"] == "Hyderabad")]
df

,SNo,Date,StartupName,IndustryVertical,SubVertical,CityLocation,InvestorsName,InvestmentType,AmountInUSD,Remarks
0,0,01/08/2017,TouchKin,Technology,Predictive Care Platform,Bangalore,Kae Capital,Private Equity,"1,300,000",NaN
1,1,02/08/2017,Ethinos,Technology,Digital Marketing Agency,Mumbai,Triton Investment Advisors,Private Equity,NaN,NaN
2,2,02/08/2017,Leverage Edu,Consumer Internet,Online platform for Higher Education Services,New Delhi,"Kashyap Deorah, Anand Sankeshwar, Deepak Jain,...",Seed Funding,NaN,NaN
3,3,02/08/2017,Zepo,Consumer Internet,DIY Ecommerce platform,Mumbai,"Kunal Shah, LetsVenture, Anupam Mittal, Hetal ...",Seed Funding,"500,000",NaN
4,4,02/08/2017,Click2Clinic,Consumer Internet,healthcare service aggregator,Hyderabad,"Narottam Thudi, Shireesh Palle",Seed Funding,"850,000",NaN
...,...,...,...,...,...,...,...,...,...,...
2194,2194,29/04/2015,ReGlobe,Used Gadgets Buy / Refurbishing,NaN,Gurgaon,"Bessemer Ventures, Blume Ventures",Seed Funding,"1,000,000",NaN
2196,2196,29/04/2015,Tracxn,Startup Analytics platform,NaN,Bangalore,SAIF Partners,Private Equity,"3,500,000",Series A
2197,2197,29/04/2015,Dazo,Mobile Food Ordering app,NaN,Bangalore,"Sumit Jain, Aprameya Radhakrishna, Alok Goel, ...",Seed Funding,NaN,NaN
2198,2198,29/04/2015,Tradelab,Financial Markets Software,NaN,Bangalore,Rainmatter,Seed Funding,"400,000",NaN
2200,2200,29/04/2015,Travel Triangle,Online Travel Marketplace,NaN,Noida,"Bessemer Venture Partners, SAIF Partners",Private Equity,"8,000,000",Series B

In [98]:
population = df
population = population['AmountInUSD'].str.replace(',', '')
population = pd.to_numeric(population)
max_of_population = max(population)
max_of_population

1400000000.0

In [99]:
df_bangalore = df[(df['CityLocation'] == "Bangalore")]
df_ncr = df[(df['CityLocation'] == "New Delhi") | (df['CityLocation'] == "Noida") | (df['CityLocation'] == "Gurgaon")]
df_mumbai = df[(df['CityLocation'] == "Mumbai")]
df_pune = df[(df['CityLocation'] == "Pune")]
df_hyderabad = df[(df['CityLocation'] == "Hyderabad")]

In [100]:
population_size = len(df)
population_size
bangalore_sample_size = round(20*((len(df_bangalore))/population_size))
ncr_sample_size = round(20*((len(df_ncr))/population_size))
mumbai_sample_size = round(20*((len(df_mumbai))/population_size))
pune_sample_size = round(20*((len(df_pune))/population_size))
hyderabad_sample_size = round(20*((len(df_hyderabad))/population_size))

# total = len(df_bangalore) + len(df_ncr) + len(df_mumbai) + len(df_pune) + len(df_hyderabad)
# print(total)

In [101]:
print(bangalore_sample_size)
print(ncr_sample_size)
print(mumbai_sample_size)
print(pune_sample_size)
print(hyderabad_sample_size)

6
7
5
1
1

In [102]:
bangalore_sample = df_bangalore.sample(bangalore_sample_size)
ncr_sample = df_ncr.sample(ncr_sample_size)
mumbai_sample = df_mumbai.sample(mumbai_sample_size)
pune_sample = df_pune.sample(pune_sample_size)
hyderabad_sample = df_hyderabad.sample(hyderabad_sample_size)

In [103]:
bangalore_sample = bangalore_sample['AmountInUSD'].str.replace(',','')
bangalore_sample = pd.to_numeric(bangalore_sample)

ncr_sample = ncr_sample['AmountInUSD'].str.replace(',','')
ncr_sample = pd.to_numeric(ncr_sample)

mumbai_sample = mumbai_sample['AmountInUSD'].str.replace(',','')
mumbai_sample = pd.to_numeric(mumbai_sample)

pune_sample = pune_sample['AmountInUSD'].str.replace(',','')
pune_sample = pd.to_numeric(pune_sample)

hyderabad_sample = hyderabad_sample['AmountInUSD'].str.replace(',','')
hyderabad_sample = pd.to_numeric(hyderabad_sample)

In [104]:
s = []
s.append(bangalore_sample.max())
s.append(ncr_sample.max())
s.append(mumbai_sample.max())
s.append(pune_sample.max())
s.append(hyderabad_sample.max())
samples_max = max(s)

In [105]:
sampling_error = population_max - samples_max
sampling_error

1320000000.0